body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: black;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to right, #111, #222);
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px;
}

/* CARD */
.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  width: 260px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
}

/* BUTTONS */
.btns {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* LOGIN */
.login-box {
  text-align: center;
  margin-top: 50px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
}